.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.footer .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer-links a:hover {
    color: darkgray;
}