body {
    background-color: #f5f5f5;
    color: #777;
    font-family: 'Red Hat Display', sans-serif;
}


.technician-dashboard-container {
    max-width: 1100px;
    margin: auto;
    padding-top: 40px;
}


h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #646464;
    margin-bottom: 30px;
}

/* Card Styling */
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    background: white;
    margin-bottom: 30px;
    padding: 20px;
    border: none;
}

.card-header {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #e89980;
    color: white;
    border-radius: 10px 10px 0 0;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #333;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: 500;
}

.table td {
    padding: 12px;
    background: white;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

/* Table Hover Effect */
.table tbody tr:hover {
    background-color: #f0f0f0;
}

.btn-outline-primary {
    border-color: #e89980;
    color: #e89980;
    transition: 0.3s;
}

.btn-outline-primary:hover {
    background-color: #e89980;
    color: white;
}
